@import "src/common/setting.scss";

.btn {
  display: inline-block;
  padding: 0 1em;

  background: none;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.5em;
  line-height: 2em;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.default {
  transition: color linear 300ms, background linear 300ms;
  background: $color-gray-o-50;
  color: $color-red;

  &:hover {
    background: $color-red;
    color: $color-white; 
  }
}

.active {
  transition: background linear 300ms;

  background: $color-red;
  color: $color-white;

  &:hover {
    background: $color-red-o-50;
  }
}